body {
  display: grid;
  grid:
    "ascii spacer notice" 1fr
    / min-content 1fr min-content;
  min-height: calc(100vh - 16px);
  color: hsl(var(--primary-hue) 22% 11%);
  font: 900 min(41.2vh, 14vw) "Commissioner", sans-serif;
  background: linear-gradient(to top right, #eee, #fafafa);
  font-variation-settings: "FLAR" 100;
}

pre {
  display: inline-block;
  grid-area: ascii;
  margin: 0;
  font-size: min(6.15vh, 3.1vw);
  line-height: 1.07;
  letter-spacing: -0.2em;
}

notice {
  grid-area: notice;
}

a {
  color: hsl(var(--primary-hue) 22% 33%);
  font-style: italic;
  text-decoration: underline hsl(var(--accent-hue) 66% 66%);
  transition: var(--transition-duration) text-decoration-color;
}

a:hover {
  text-decoration-color: hsl(var(--accent-hue) 72% 77%);
}

::selection {
  background: hsl(var(--accent-hue) 88% 66% / 33%);
}

@media (max-width: 1200px) {
  body {
    grid:
      "ascii" min-content
      "spacer" 1fr
      "notice" min-content
      / 1fr;
    font-size: 30vw;
  }

  pre {
    font-size: 5.6vw;
  }
}
